    <!-- Header -->
   
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Loomry</h1>
                        <hr class="intro-divider">
                        <h3>Painless <span class="rotate">Software, Theme, Package, Gem, Plugin </span> Licensing Backend</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-12  col-sm-12  col-sm-12">
                    
                    
                    <h2 class="text-center" >We Got Your Backend</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="text-center">You provide the software, we provide the licensing engine. Concentrate on your software, not the overhead.</h3>
                    <p class="lead text-center">Our system takes the pain out of licensing, pirating, and management. <b>Enjoy!</b></p>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    
                    <h2 class="section-heading">Stupid Simple Validator Engine</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Just send a GET request, we'll respond with JSON to validate the key.</p>
                    <p class="lead">We've had ZERO API downtime since our company started, your customers will always get a response unlike our competitors.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/q6tktjsjvj6l2ww/ipad.png?dl=0" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    
                    <h2 class="section-heading">Blackbox Key Generator</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Generate License Keys for your customers automatically with each sale of your software or plugin or theme.</p>
                    <p class="lead">We work with<b> any software connected to the internet.</b></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/blgw3ookfhstw0i/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    
                    <h2 class="section-heading">Pirate Sniffer Algorithim</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Our Pirate Sniffer Algorithim stops thieves from sharing license keys, warns you, and prevents you from losing sales.</p>
                    <p class="lead">You could say it pays for it's self, we do.</p>
                    <p class="lead">We'd tell you how it works but we'd have to..well..you know...just trust us on this one!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/gxkbsgi5b80emys/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <!--<div class="banner">-->

    <!--    <div class="container">-->

    <!--        <div class="row">-->
    <!--            <div class="col-lg-6">-->
    <!--                <h2>Connect to Start Bootstrap:</h2>-->
    <!--            </div>-->
    <!--            <div class="col-lg-6">-->
    <!--                <ul class="list-inline banner-social-buttons">-->
    <!--                    <li>-->
    <!--                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--    </div>-->
        <!-- /.container -->

    <!--</div>-->
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; KeyBackr.com 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->
<script>
	  $(document).ready(function(){
			$(".rotate").textrotator({
        animation: "fade",
        speed: 750
      });
      
		});

	</script>
</body>

</html>