<blockquote>
<h4>"Awesome Service, now I can just focus on developing software without creating a backend server for licensing. "</h4> &mdash; John M.
</blockquote>

<blockquote>
<h4>"Simple service, extremely useful for my wordpress plugins"</h4> &mdash; Mary L.
</blockquote>

<blockquote>
<h4>"I wish I would have had you guys when I started making software."</h4> &mdash; Elliot Z.
</blockquote>
